@import '../../style/variables.scss';
@import '../../style/container.scss';
@import '../../style/buttons.scss';

.random {
	color: $white-color;
	background: transparent url('../../assets/bg_base.jpg') left top no-repeat;
	&__body {
		height: 90vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__text {
		max-width: 500px;
		text-align: center;
		margin: 30px;
	}
	&__title {
		font-size: 30px;
		margin-bottom: 20px;
	}
}
