@import '../../style/variables.scss';
@import '../../style/buttons.scss';

.movies {
	text-align: center;
	position: relative;
	min-height: 45vh;
	padding-bottom: 30px;
	&__list {
		min-height: 40vh;
	}
	&__title {
		margin-top: 0;
		font-size: 50px;
		background: transparent url('../../assets/footer_bg.jpg') left top no-repeat;
		background-size: cover;
		text-align: center;
		color: $red-color-100;
		padding-top: 170px;
	}
}

.search {
	display: flex;
	justify-content: start;
	align-items: center;
	input {
		background: $black-color;
		color: $white-color;
		border-radius: 40px;
		padding: 4px 20px;
		&:focus {
			box-shadow: 20px 0px 20px $black-color-200;
		}
	}
}

.btn__search {
	min-height: 20px !important;
	border-radius: 10% !important;
	padding: 4px 16px !important;  
}

.movies__list {
	padding: 20px 20px 40px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
}