@import '../../style/variables.scss';
@import '../../style/container.scss';

.header {
    background-color: $black-color-300;
    &__body {
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: $base * 3;
    }
    &__logo {
        background: $white-color;
        border-radius: $base * 2 $base * 4;
        margin-left: $base;
        width: $base * 12;
        transition: all .4s ease-out;
        img {
            width: 100%;
            height: 100%;
        }
        &:hover {
            transform: translate(10%);
        }
        &:active {
            background: $black-color-100;
        }
    }
    &__nav {
        margin: 0 $base * 4
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        li {
            list-style: none;
        }
    }
    &__item {
        margin-left: $base * 13; 
        a {
            color: $white-color;
            text-decoration: none;
            transition: all .2s ease-out;
            &:hover{
                color: $red-color-100;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 880px) {
    .header {
        &__icon {
            z-index: 8;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
            &::after,
            &::before,
            span {
                z-index: 9;
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                background: #fff;
                -webkit-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
            }
            &::after,
            &::before {
                content: "";
            }
            &::after {
                bottom: 0;
            }
            &::before {
                top: 0;
            }
            span {
                top: 50%;
                -webkit-transform: scale(1) translate(0px, -50%);
                transform: scale(1) translate(0px, -50%);
            }
            &._active span {
                -webkit-transform: scale(0) translate(0px, -50%);
                transform: scale(0) translate(0px, -50%);
            }
            &._active::before {
                top: 50%;
                -webkit-transform: rotate(-45deg) translate(0px, -50%);
                transform: rotate(-45deg) translate(0px, -50%);
            }
            &._active::after {
                bottom: 50%;
                -webkit-transform: rotate(45deg) translate(0px, 50%);
                transform: rotate(45deg) translate(0px, 50%);
            }
        }

        &__content {
            position: fixed;
            top: 0;
            left: -200%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 130px 30px 30px 50px;
            -webkit-transition: left 0.3 ease 0s;
            transition: left 0.3 ease 0s;
            overflow: auto;
            &._active {
                display: block;
                left: 0;
                padding: 100px 0;
                .header__list {
                    font-size: $base * 10;
                    justify-content: start;
                    flex-direction: column;
                    text-align: center;
                    .header__item {
                        margin-top: $base * 18;
                    }
                }
            } 
        }
        &__logo {
            img {
                width: $base * 12;
            }
        }
    }
}
